.btnloader {
    border: 4px solid #663c03 ;
    border-left-color: transparent;
    border-radius: 50%;
}

.btnloader {
    border: 4px solid #663c03 ;
    border-left-color: transparent;
    width: 23px;
    height: 23px;
    animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}